@inherits LayoutComponentBase

<Loading/>
<div class="main-layout">
    <!-- Navbar -->
    <NavMenu/>

    <!-- Sayfa içeriği -->
    <div class="content">
        @Body
    </div>
</div>
<Syncfusion.Blazor.Popups.SfDialogProvider/>

@code { 

    

}

<style>
    .content {
        background-color: var(--bg-color);
    }
</style>