@inject IJSRuntime JS

<div class="theme-switch">
    <label class="switch">
        <input type="checkbox" checked="@isDark" @onchange="ToggleTheme">
        <span class="slider @(isDark ? "dark" : "light")"></span>
    </label>
</div>

@code{

    private bool isDark = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var theme = await JS.InvokeAsync<string>("ThemeManager.getCurrentTheme");
            isDark = theme == "dark";
            StateHasChanged();
        }
    }

    private async Task ToggleTheme(ChangeEventArgs e)
    {
        isDark = (bool)e.Value!;
        await JS.InvokeVoidAsync("ThemeManager.toggleTheme", isDark);
    }

}
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 24px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        background-color: #ccc;
        border-radius: 34px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            height: 18px;
            width: 18px;
            left: 3px;
            bottom: 3px;
            background-color: transparent;
            transition: .4s;
            border-radius: 50%;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    input:checked + .slider {
        background-color: color-mix(in srgb, var(--bg-color) 70%, #b9a6b9 30%);
    }

        input:checked + .slider:before {
            transform: translateX(26px);
        }

    /* ICONFONT */
    .slider.light:before {
        content: '☀️';
    }

    .slider.dark:before {
        content: '🌙';
    }
</style>